.car-cad :hover {
    box-shadow: 10px 10px 5px 0px rgba(69,4,4,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(69,4,4,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(69,4,4,0.75);
}
.button :hover {
    box-shadow: 10px 10px 5px 0px rgba(245,8,93,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(245,8,93,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(245,8,93,0.75);
}